<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://agence1968-001-site1.gtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8018.site4now.net:8172/msdeploy.axd?site=agence1968-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>agence1968-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>agence1968-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="agencedbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=MYSQL8002.site4now.net;Initial Catalog=db_a89b29_agenced;User ID=a89b29_agenced;Password=rammstein_68" Name="Server=MYSQL8002.site4now.net;Database=db_a89b29_agenced;Uid=a89b29_agenced;Pwd=rammstein_68" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="web_agence_mysql.Models.agencedbEntities, web_agence_mysql" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="agencedbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.db.csdl|res://*/Models.db.ssdl|res://*/Models.db.msl;provider=MySql.Data.MySqlClient;provider connection string="Server=MYSQL8002.site4now.net;Database=db_a89b29_agenced;Uid=a89b29_agenced;Pwd=rammstein_68"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>